<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="navbar" style="background-color: #2AD1C7;">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
                <title>Ticket Manager</title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path>
            </svg>
            <span class="fs-4">Ticket Manager</span>
        </a>



        <nav class="navbar" style="background-color: #2AD1C7;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Ticket Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>
                        </form>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/ticket/add">Добавить заявку</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Организации
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/organization">Список всех организаций</a></li>
                                <li><a class="dropdown-item" href="/organization/add">Добавить организацию</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Отделы
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/department">Список всех отделов</a></li>
                                <li><a class="dropdown-item" href="/department/add">Добавить отдел</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Должности
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/position">Список всех должностей</a></li>
                                <li><a class="dropdown-item" href="/position/add">Добавить должность</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Технические задания
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/specification">Список всех технических заданий</a></li>
                                <li><a class="dropdown-item" href="/specification/add">Добавить техническое задание</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Пользователи
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/register/users">Список всех пользователей</a></li>
                                <li><a class="dropdown-item" href="/register/users/add">Добавить пользователя</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Список поступивших проблем</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Архив заявок
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/ticket">Список всех заявок</a></li>
                                <li><a class="dropdown-item" href="#">Список всех направленных заявок</a></li>
                                <li><a class="dropdown-item" href="#">Список всех поступивших заявок</a></li>
                                <li><a class="dropdown-item" href="#">Список всех заявок на проверке</a></li>
                                <li><a class="dropdown-item" href="#">Список открытых заявок</a></li>
                                <li><a class="dropdown-item" href="#">Список просроченных заявок</a></li>
                                <li><a class="dropdown-item" href="#">Список заявок по организации</a></li>
                                <li><a class="dropdown-item" href="#">Список заявок по контракту</a></li>
                                <li><a class="dropdown-item" href="#">Список заявок по системе</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Контракты
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/contract">Список всех контрактов</a></li>
                                <li><a class="dropdown-item" href="/contract/add">Добавить контракт</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Уровни сопровождения
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/level">Список всех уровней сопровождения</a></li>
                                <li><a class="dropdown-item" href="/level/add">Добавить уровень сопровождения</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Штрафы на сопровождения
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/price">Список всех штрафов</a></li>
                                <li><a class="dropdown-item" href="/price/add">Добавить штраф</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Периоды с которых начинается отсчёт штрафа
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/penalty/start">Список периодов</a></li>
                                <li><a class="dropdown-item" href="/penalty/start/add">Добавить период</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Типы штрафов
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/penalty/type">Список типов штрафов</a></li>
                                <li><a class="dropdown-item" href="/penalty/type/add">Добавить тип штрафа</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ограничения
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/penalty/limit">Список ограничений</a></li>
                                <li><a class="dropdown-item" href="/penalty/limit/add">Добавить ограничение</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Системы
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/system">Список систем</a></li>
                                <li><a class="dropdown-item" href="/system/add">Добавить систему</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Виртуальные машины на которрых размещены функции
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/system/function/machine">Список виртуальных машин</a></li>
                                <li><a class="dropdown-item" href="/system/function/machine/add">Добавить виртуальную машину</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Функции систем
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/system/function">Список функций систем</a></li>
                                <li><a class="dropdown-item" href="/system/function/add">Добавить функцию системы</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Функции должности
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/organization/position/function">Список функций у должностей</a></li>
                                <li><a class="dropdown-item" href="/organization/position/function/add">Добавить функцию должности</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Права по работе с функциями
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/rools/system/function">Список прав по работе с функциями</a></li>
                                <li><a class="dropdown-item" href="/rools/system/function/add">Добавить право по работе с функцией</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Проблемы
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/problem">Список проблем</a></li>
                                <li><a class="dropdown-item" href="/problem/add">Добавить проблему</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Системы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Функции систем</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>