<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Технические задания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5">
    <h1>Список технических заданий</h1>
    <form th:action="'/specification/add'" method="get">
        <button class="btn btn-primary" type="submit">Добавить техническое задание</button>
    </form> <br>
    <div th:each="el : ${specifications}" class="alert alert-info mt-2">
        <h3 th:text="${el.nameSpecification}"></h3>
        <p th:text="${el.customer.littleNameOrganization}"></p>
        <p th:text="${el.perfomer.littleNameOrganization}"></p>
        <p th:text="${el.execution.littleNameOrganization}"></p>
        <a th:href="'/specification/' + ${el.specificationId}" class="btn btn-warning">Детальнее</a>


    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>