<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Системы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container mt-5">
    <h1>Список систем</h1>
    <div th:each="el : ${systems}" class="alert alert-info mt-2">
        <h3 th:text="${el.littleNameSystem}"></h3>
        <p th:text="${el.contractId.numberContract}"></p>
        <a th:href="'/system/' + ${el.systemId}" class="btn btn-warning">Детальнее</a>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>